/* Added to custom the CSS of SwiperJS */
:root {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}

form {
    width: 100%;
}

.window-x-space {
    padding-left: 24px;
    padding-right: 24px;
}

.window-y-space {
    padding-top: 48px;
    padding-bottom: 48px;
}